[defaults]
host_key_checking = 0
inventory         = ./hosts
stdout_callback   = community.general.yaml
callbacks_enabled = ansible.posix.profile_tasks, ansible.posix.timer 
log_path          = ./project_logs.log